@font-face {
	font-family: ACaslonPro;
	src: url("../fonts/ACaslonPro-Regular.otf") format("opentype");
}

@font-face {
	font-family: Springville;
	src: url("../fonts/Springville-Regular3.otf") format("opentype");
}

body {
	font-family: 'ACaslonPro';
	margin: auto;
}

.header {
	display: inline-flex;
	height: 120px;
	position: fixed;
	padding-left: 8%;
	padding-right: 8%;
	z-index: 1;
	background-color: white;
	width: -webkit-fill-available;

	img {
		height: 36px;
		position: relative;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	button {
		position: relative;
		font-size: 12px;
		background-color: white;
		border: white;
		cursor: pointer;
		display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
	}

	div {
		position: relative;
		font-size: 12px;
		width: 100%;
		display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 2px;
    margin-right: 10px;
	}
	.sandwich {
		height: 20px;
		width: 20px;
		background-color:black;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.hero {
	position: relative;
	top: 120px;
	height: 5000px;
	background-color: gray;

	ol {
		li {
			cursor: pointer;
			margin: 5px 6px;
			display: -webkit-inline-box;
			border-radius: 50%;
			width: 12px;
			height: 12px;
			background: #dadada;
		}
	}
}

/* Mobile */
@media only screen and (max-width: 480px) {
	body {
		background-color: red;
	}

	.header {
		display: inline-flex;
		height: 50px;
		position: fixed;
		padding-left: 5%;
		padding-right: 5%;
		z-index: 1;
		background-color: white;
		width: -webkit-fill-available;

		img {
			height: 24px;
		}
	}


	.hero {
		position: relative;
		top: 50px;
		height: 5000px;
		background-color: gray;
	}
}

/* Small Tablet */
@media only screen and (min-width: 768px) {

}

/* Tablet */
@media only screen and (min-width: 1024px) {

}

/* Desktop */
@media only screen and (min-width: 1440px) {

}